<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="container">
    <div class="login-page">
     <div class="logo-box">
       <img src="assets/logo.png" width="60%">
     </div>
     <div class="login-form-box">
       <div class="title-box">
         <h3>Register</h3>
       </div>
       <ion-item>
         <ion-label position="floating">Full name</ion-label>
         <ion-input></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Email address</ion-label>
         <ion-input></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Password</ion-label>
         <ion-input></ion-input>
       </ion-item>
       <ion-button color="primary" class="login-btn">Sign Up</ion-button>
     </div>
     <div class="login-with-social">
     </div>
   </div>

   <style type="text/css">
     .login-form-box {padding: 15px; }
     .login-form-box .login-btn {margin: 20px 0 0; background-color: #C92724 !important; background-image: none !important; --ion-color-base: none !important; font-weight: 600; padding: 10px 30px; border-radius: 4px; }
     .button-native{box-shadow: none !important;}
   </style>

 </div>
</ion-content>
